{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url 'election:preview' original.pk|admin_urlquote %}" class="historylink">
            Preview Page
        </a>
        <ul>
            <li><a href="{% url 'election:preview' original.pk|admin_urlquote 'ug' %}">as UG</a></li>
            <li><a href="{% url 'election:preview' original.pk|admin_urlquote 'pg' %}">as PG</a></li>
        </ul>
    </li>
    <li>
        <a href="{% url opts|admin_urlname:'add_voters_url' original.pk|admin_urlquote %}" class="historylink">Add
            Voters</a>
    </li>
    {% if original.is_finished or request.user.is_superuser %}
        <li>
            <a href="{% url opts|admin_urlname:'get_election_result' original.pk|admin_urlquote %}"
               class="historylink">Get Results</a>
        </li>
    {% endif %}
    {% if request.user.is_superuser %}
        <li>
            <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}"
               class="historylink">{% trans "History" %}</a>
        </li>
    {% endif %}

{% endblock %}