{% extends 'logged_in.html' %}
{% load staticfiles %}

{% block cssLinks %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/abcheckbox.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/elections/base.css' %}"/>
{% endblock %}

{% block body %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            {% for election in elections %}
                <h1>{{ election.name }}</h1>
                {% if election.voter.voted %}
                    <h2 style="color: red;">You have already voted</h2>
                {% else %}

                    {% for post in election.posts.all %}
                        <h3>{{ post.name }} - {{ post.number }}</h3>

                        <div class="row">
                            {% for candidate in post.candidates.all %}
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="
                                        {% if candidate.image %}{{ candidate.image.url }}
                                        {% else %}
                                            {% static 'img/default_user.png' %}
                                        {% endif %}
                                        " alt="candidate image">
                                        <div class="caption">
                                            <h4>{{ candidate.name }}</h4>
                                            <div class="radio">
                                                <input name="candidate-{{ candidate.id }}"
                                                       id="candidate-{{ candidate.id }}-yes"
                                                       type="radio"/>
                                                <label for="candidate-{{ candidate.id }}-yes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <input name="candidate-{{ candidate.id }}"
                                                       id="candidate-{{ candidate.id }}-no"
                                                       type="radio"/>
                                                <label for="candidate-{{ candidate.id }}-no">
                                                    No
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <input name="candidate-{{ candidate.id }}"
                                                       id="candidate-{{ candidate.id }}-neutral"
                                                       type="radio" checked/>
                                                <label for="candidate-{{ candidate.id }}-neutral">
                                                    Neutral
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    {% endfor %}



                {% endif %}

            {% empty %}
                <h2>There is no active election for you currently</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}
