.disabled-candidate {
    pointer-events: none;
    background: grey;
}

.accepted-candidate {
    background: lightgreen;
}

.rejected-candidate {
    background: #d9534f;
}

.election-vote-cast {
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    background: lightcoral;
}

.post-list {
    margin-left: 20px;
    background: beige;
}

.post {
    padding: 5px 5px 5px 15px;
}

.post-title {
    margin-top: 10px;
}

.candidate-list {
    margin-left: 10px;
}

.election {
    padding: 10px;
    background: darkgray;
}

.election-title {
    margin-top: 10px;
    color: cornsilk;
    font-family: serif;
}

.affix {
    z-index: 100;
    top: 10px;
    right: 5px;
}

.blink{
    animation:blink 700ms infinite alternate;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0.4; }
}

.thumbnail-image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
